.bannercell {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #000
}
.bannerlink {
	DISPLAY: block; COLOR: #000; BACKGROUND-COLOR: #000
}
.bordercell {
	BACKGROUND-COLOR: #000
}
.titlecell {
	BACKGROUND-COLOR: #ccc
}
.contentcell {
	BACKGROUND-COLOR: #fff
}
BODY {
	BACKGROUND: #fff; MARGIN: 0px; COLOR: #000
}
HTML {
	BACKGROUND: #fff; MARGIN: 0px; COLOR: #000
}
.mozillaorgbanner {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.spacercell {
	HEIGHT: 3px
}
.linkcell {
	WHITE-SPACE: nowrap
}
.documentinfo {
	FONT-SIZE: 80%
}
.listbullet {
	MARGIN: 0px
}
.horizbanner {
	FONT-SIZE: 80%
}
.document-body {
	MARGIN: 10px
}
.horizontal-menu {
	MARGIN: 1px 3px
}
A:link {
	COLOR: #00e
}
A:visited {
	COLOR: #551a8b
}
A:active {
	COLOR: #f00
}
DT {
	FONT-WEIGHT: bold
}
.toc DT {
	FONT-SIZE: 120%
}
.tasklist DT {
	FONT-SIZE: 120%
}
H1 {
	TEXT-ALIGN: center
}
.horiz-category-list {
	TEXT-ALIGN: center
}
.author {
	TEXT-ALIGN: center
}
.important {
	BORDER-RIGHT: #f00 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #f00 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: #f00 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #f00 1px solid; BACKGROUND-COLOR: #ff9
}
STRONG.stronger {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
STRONG.very-strong {
	FONT-WEIGHT: bold; COLOR: #f00; FONT-STYLE: italic
}
.shaded {
	COLOR: #000; BACKGROUND-COLOR: #eee
}
